@import "../_variables";

.Dash_App {
  float: left;
  .chart_main {
    background-color: $background-white;
    border-bottom: 2px solid $border-color-grey;
    border-right: 2px solid $border-color-grey;
    border-left: 2px solid $border-color-grey;
    z-index: 1;
    width: 640px;
    position: absolute;
    left: 29%;
    background-color: $background-blue;
    height: 140%;

    .chart1 {
      width: 90%;
      height: 350px;
      margin: 10px 10px 10px 10px;
      padding: 10px 20px 20px 20px;
      border: 1px solid #e9e9e9;
      border-radius: 5px;
      box-shadow: 2px 2px 10px #f4f4f4;
      background: #ffffff;
    }
    .chart2 {
      width: 90%;
      height: 350px;
      margin: 10px 10px 10px 10px;
      padding: 10px 20px 20px 20px;
      border: 1px solid #e9e9e9;
      border-radius: 5px;
      box-shadow: 2px 2px 10px #f4f4f4;
      background: #ffffff;
    }
    .chart3 {
      width: 90%;
      height: 350px;
      margin: 10px 10px 10px 10px;
      padding: 10px 20px 20px 20px;
      border: 1px solid #e9e9e9;
      border-radius: 5px;
      box-shadow: 2px 2px 10px #f4f4f4;
      background: #ffffff;
    }
  }
}
// .dash_side {
//   //margin-right: 600px;
// }
