@import "./_variables";

@font-face {
  font-family: "Lobster-Regular";
  font-weight: 300;
  src: url("../assets/font/Lobster-Regular.ttf") format("woff2"),
    url("../assets/font/Lobster-Regular.ttf") format("woff"),
    url("../assets/font/Lobster-Regular.ttf") format("truetype");
}

body {
  background-color: $background-white;
  font-family: $font;
  font-size: 16px;
  margin: 0;
  padding: 0;
  min-width: fit-content;

  main {
    display: grid;
    grid-template-columns: 600px 2fr 600px;

    .blank {
      background-color: $background-skyblue;
    }
    .Status_container {
      background-color: $background-blue;
      border-right: 2px solid $border-color-grey;
      border-left: 2px solid $border-color-grey;
      grid-template-columns: 1fr;
      left: 0;
      width: 100%;
      align-items: center;

      .container_chart {
        // flex-direction: column;
        padding: 20% 0 0 3.7%;
        margin: 0;
        .first_chart {
          width: 100%;
          display: flex;
          align-items: center;
          font-family: "Lobster-Regular";
          font-size: 30px;
          color: white;
          .chart1 {
            display: flex;
            height: 350px;
            border: 2px solid $link-color;
            border-radius: 5px;
            box-shadow: 2px 2px 10px #f4f4f4;
            background: #ffffff;
          }
        }
        .second_chart {
          display: flex;
          align-items: center;
          width: 100%;
          font-family: "Lobster-Regular";
          font-size: 30px;
          color: white;
          .chart2 {
            display: flex;
            height: 350px;
            border: 2px solid $link-color;
            border-radius: 5px;
            box-shadow: 2px 2px 10px #f4f4f4;
            background: #ffffff;
          }
        }
        .third_chart {
          display: flex;
          width: 100%;
          align-items: center;
          font-family: "Lobster-Regular";
          font-size: 30px;
          color: white;
          .chart3 {
            display: flex;
            height: 350px;
            border: 2px solid $link-color;
            border-radius: 5px;
            box-shadow: 2px 2px 10px #f4f4f4;
            background: #ffffff;
          }
        }
      }
    }
    .box {
      background-color: $background-skyblue;
    }
  }
}
@media only screen and (max-width: 1024px) {
  main .container {
    justify-content: center !important;
  }
}
