@import "../variables.scss";

@font-face {
  font-family: "Lobster-Regular";
  font-weight: 300;
  src: url("../../assets/font/Lobster-Regular.ttf") format("woff2"),
    url("../../assets/font/Lobster-Regular.ttf") format("woff"),
    url("../../assets/font/Lobster-Regular.ttf") format("truetype");
}

.header_container {
  background-color: $background-white;
  border: 1px solid $border-color-grey;
  width: 600px;
  height: 50px;
  position: fixed;
  top: 5em;
  left: 30%;
  margin-left: 0.7em;

  .story {
    display: inline-flex;
    justify-content: center;
    width: 500px;
    height: 40px;
    font-family: "Lobster-Regular";
    font-size: 20px;
    // padding-bo
  }
  .sort {
    display: inline-block;
    width: 50px;
    height: 40px;
    .sortIcon {
      padding: 0.7em 0 0 2.5em;
      width: 23px;
      height: 30px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
.question_container {
  display: flex;
  justify-content: center;
  width: 640px;
  position: relative;
  top: 6em;
  left: 15em;
  height: 600px;
}
