
.SQ_img_main{

    background-color: blanchedalmond;
    .SQ_img_click{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        float:left;
        margin-top: 2%;
        margin-left: 2%;
        border-style: groove;


    }
    .SQ_title{
        border-radius: 5%;
        background-color: white;
        width: 85%;
        height:13%;
        margin-left: 4%;
        margin-top: 4%;
        border-style: outset;

    }
    .SQ_content{

    }
}