@import "../variables";

.navigation {
  background-color: $background-white;
  border-bottom: 2px solid $border-color-grey;
  border-right: 2px solid $border-color-grey;
  border-left: 2px solid $border-color-grey;
  z-index: 1;
  width: 640px;
  position: fixed;
  top: 0;
  left: 29%;

  .container {
    width: 640px;
    padding: 0.25em 0 0.25em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;

    .container_Logo {
      display: flex;
      width: 300px;
      height: 40px;

      .logo {
        margin: 0 0 0 2em;
        width: 180px;

        &:hover {
          cursor: pointer;
        }
      }
    }
    .search {
      display: flex;
      width: 150px;
      height: 30px;
      justify-content: right;

      .searchIcon {
        opacity: 0.4;
        margin-right: 30px;
      }
    }
  }
}

@media only screen and (max-width: 860px) {
  .container {
    margin: 0;
    justify-content: center;
    .container_Logo {
      display: flex;
      width: 120px;
      height: 30px;
      .logo {
        width: 100px;
      }
    }
    .container_Special {
      width: 120px;
      height: 30px;
      .Icon {
        width: 100px;
      }
    }
  }
}
