@import "../variables";

@font-face {
  font-family: "Lobster-Regular";
  font-weight: 300;
  src: url("../../assets/font/Lobster-Regular.ttf") format("woff2"),
    url("../../assets/font/Lobster-Regular.ttf") format("woff"),
    url("../../assets/font/Lobster-Regular.ttf") format("truetype");
}

.sidebar_navigation {
  background-color: $background-white;
  border: 2px solid $border-color-grey;
  width: 384px;
  position: fixed;
  top: 3.7em;
  left: 3em;

  .sidebar_container {
    width: 350px;
    padding: 0.45em 0 0.4em 0;
    margin-left: 1.7em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;

    .container_Special {
      background-color: $background-white;
      border: 3px solid $border-color-grey;
      border-radius: 40%;
      display: flex;
      width: 70px;
      height: 40px;
      justify-content: center;
      font-family: "Lobster-Regular";
      font-size: 20px;
      padding: 0.45em 0.3em 0 0.3em;
    }
    .container_Graph {
      background-color: $background-white;
      border: 3px solid $border-color-grey;
      border-radius: 40%;
      padding: 0.4em 0.3em 0 0.3em;
      display: flex;
      width: 70px;
      height: 40px;
      justify-content: center;
      font-family: "Lobster-Regular";
      font-size: 20px;
    }
  }
}
.sidebar {
  background-color: $background-blue;
  border: 2px solid $border-color-grey;
  width: 320px;
  padding: 4em 2em 2em 2em;
  margin: 85px 0 0 48px;
}

@media only screen and (max-width: 1024px) {
  .sidebar {
    display: none;
  }
}
