@import "../variables";

.sidebar {
  background-color: $background-white;
  border: 1px solid $border-color-grey;
  width: 320px;
  padding: 2em;
  margin: 85px 0 0 25px;
}

@media only screen and (max-width: 1024px) {
  .sidebar {
    display: none;
  }
}
