.ch_main_box{
    margin-left: 300px;
    margin-top: 40px;
    .change_box{
        width: 280px;
        height: 150px;
        margin-left:110px;
        .change_img{
            width: 100%;
            height: 100%;
        }
    }
}