@import "../variables";

.Pro_main{
    background-color: $background-white;
  border-bottom: 2px solid $border-color-grey;
  border-right: 2px solid $border-color-grey;
  border-left: 2px solid $border-color-grey;
  z-index: 1;
  width: 640px;
  position: absolute;
  top: 0;
  left: 29%;
  background-color: $background-blue;
    
.Pro_box{
    width: 100%;   
    
    .pro_text{
        margin-left: 2rem;
      
    }     
    .Pro_icon{
        //margin-left: 13rem;
        //font-size: 0.08rem;

        .icon_button{
        background-color: $background-blue;
        }

    }
    .Pro_grid{
        // margin: 1px;
        
    }
    .Pro_imgs{
    height: 12em;
    width: 12em;
    margin-left: 2em;
    margin-left: 0.3em;
}
}
}

  


// .imgs{
//     height: 12em;
//     width: 12em;
//     // margin-left: 2em;
//     // margin-left: 0.3em;
// }



// .box{
//     width: 700px;
//     margin-left: 16.15%;
//     border: 2px solid $border-color-grey;
//     width: 640px;
//     background-color: $background-blue;
// }


// .icon{
//     font-size: 0.08em;
// }

