@import "../variables";

.My_profile {
  display: flex;
  align-items: center;
  font-size: 1em;
  margin-bottom: 0.85em;

  .My_textContainer {
    display: flex;
    flex-direction: column;
    margin-left: 3em;
    margin-bottom: 3em;
    min-width: 180px;

    .My_accountName {
      font-weight: 600;
      margin-bottom: 5px;
    }
    
    .My_box{
      margin-top: 10px;
      margin-left: 15px;

      color: darkgray;
      font-size: 10px;

    }
        
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }

    }

    .caption {
      color: $font-color-secondary;

    &.small {
        font-size: 0.8em;
      }
    }
  }

  a {
    text-align: right;
    width: 100%;
  }

