.daily_img{
    margin-left: 50px;
    height: 5px;
    width: 5px;
}

.uploadbox{
    border: 1px solid grey;
    height: 400px;
    width: 350px;
    float: left;
    
    .uploadimg{
        height: 100%;
        width: 100%;
    }
}
.text_box{
    width: 400px;
    float: left;
    
}